html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
  font-size: 16pt;
  overflow-x: hidden;
  font-family: 'Courgette';
  background-image: url("./assets/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: black;
}

a:hover {
  color: rgb(76, 69, 255);
}

header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  font-size: 58px;
  border-top: 10px solid black;
  margin-bottom: 40px;
}

header h1 {
  font-size: 54px;
  margin-bottom: 2px;
}

header p {
  font-size: 20px;
}

header .ident {
  display: flex;
  flex-direction: column;
}

header .links {
  font-size: 24px;
}

header a {
  margin: 0 15px 0 15px;
}

.no-match-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 15px;
  padding-bottom: 60px;
}

.no-match-container a {
  color: blue;
}

.no-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: -20px;
}

.no-match>p {
  font-size: 36pt;
  margin-top: 2px;
}


footer {
  max-height: 12px;
  padding: 14px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C7C7C7;
  opacity: 0.95;

}

.hidden-toast {
  display: none;
}

form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

form div {
  padding-bottom: 25px;
}

form div input,
form div textarea {
  width: 900px;
  height: 30px;
  border: black 1px solid;
  font-family: 'Courgette';

}

form div textarea {
  height: 160px;
}

#send-email {
  font-size: 20px;
  font-family: 'Courgette';
}

.about,
.terms,
.blog {
  width: 83%;
  margin: 0 auto;
  font-size: 20pt;
  padding-top: 10px;
}

main {
  padding-bottom: 60px;
}

@media screen and (max-width: 1550px)  {
  
  header .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 20px 30px 0 0;
  }

  header a {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 788px)  {
  
  header .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 77%; */

  }


}

@media screen and (max-width: 442px)  {
  
  header {
    display: flex;
    flex-direction: column;
  }
  header .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

  header a {
    margin-bottom: 7px;
  }
}