html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

}

#root {
  min-height: 100%;
  position: relative;
  font-size: 12pt;
  overflow-x: hidden;
  font-family: 'Open Sans';
  background-image: url("./assets/bg4.jpg");
  background-repeat: no-repeat;
  background-color: #2C2729;



}

.menu-top {
  font-family: 'Macondo', cursive;

}


h2 {
  color: white;

}

.privacy-pol {
  padding-top: 100px;
  padding-bottom: 60px;
}

.pri-pol-link {
  text-decoration: underline;
  text-decoration-color: rgb(175, 174, 174);
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.hidden-toast {
  display: none;
}

.icons a {
  color: black;
  padding-top: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
}

.icons a:hover {
  background-color: rgb(204, 202, 202);
  color: black;
}

.about a:visited {
  color: white;
}

.terms a {
  color: white;
}

a:visited {
  color: black;
}

/* routes are in this */
.content {
  color: #CCCCCC;
  background-color: #2C2729;
  background-image: url("./assets/musicxpansion.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 100%;

}


.content a {
  color: white;
}

.content a:hover {
  text-decoration: none;
  color: white;
}

.about {
  font-size: 13px;
}

.logo {
  height: 80px;
  width: 80px;
}

.links {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Barlow', sans-serif;
  justify-content: space-between;
  height: 700px;
  font-size: 13px;

}

.links a {
  color: gray;
  text-decoration: none;
}

.links a:hover {
  color: black;
}

.award {
  text-align: center;
}

.about,
.terms,
.contact {
  margin-top: 140px;
  padding-bottom: 60px;
  color: #CCCCCC;
}

.contact {
  margin-top: 100px;
  font-size: 14px;
}

.calendar {
  padding: 125px 20px 0 20px;
}

.blog {
  padding-top: 150px;
}

.blog-block {
  height: 700px;
  width: 800px;
  background-color: #2C2729;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 18px;

}

.no-match-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 15px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding-top: 350px;
  color: black;
  border: 15px solid #2c2729;

}

.no-match-container a {
  color: black;
}

.no-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: -20px;

}

.no-match>p {
  font-size: 36pt;
  margin-top: 2px;
}

/* fix background image flicker */
.trs {
  transition: background-image 1s ease-in-out;
}

.terms {
  font-size: 14px;
}


@media screen and (max-width: 599px) {

  .header {
    color: black;
    font-size: 13pt;

  }

  .name {
    font-size: 22pt;
  }

  /* .no-match>img {
    height: 400px;
    width: 400px;
  } */
}