html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
  font-size: 12pt;
  overflow-x: hidden;
  font-family: 'Open Sans';
  background-image: url("./assets/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: 100px;
}

.hidden-toast {
  display: none;
}

.icons a {
  color: black;
  padding-top: 12px;
}

a:visited {
  color: black;
}

.contain {
  background-image: url("./assets/musicxpansion.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.logo {
  height: 80px;
  width: 80px;
}

.links {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Barlow', sans-serif;
  justify-content: space-between;
  height: 685px;
  padding-bottom: 20px;

}

.links a {
  color: gray;
  text-decoration: none;
}

.links a:hover {
  color: black;
}

.no-match-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 15px;
}

.no-match-container a {
  color: blue;
}

.no-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: -20px;

}

.no-match>p {
  font-size: 36pt;
  margin-top: 2px;
}


@media screen and (max-width: 599px) {

  .header {
    color: black;
    font-size: 13pt;

  }

  .name {
    font-size: 22pt;
  }

  /* .no-match>img {
    height: 400px;
    width: 400px;
  } */
}